* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1b4f72;
  color: #ffffff;
  line-height: 1.6;
}



header {
  background-color: #161b22;
  padding: 25px 0;
  text-align: center;
  border-bottom: 2px solid #4cb5ff;
}

header h1 {
  color: #4cb5ff;
  font-size: 28px;
  margin-bottom: 5px;
}

header p {
  color: #c9d1d9;
  font-size: 15px;
}

.profil {
  text-align: center;
  margin: 50px 0;
}

.profil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #031929;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profil img:hover {
  transform: scale(1.1);
}

.profil h2 {
  color: #ffffff;
  margin-top: 15px;
  font-size: 24px;
}

.profil h3 {
  color: #c9d1d9;
  font-weight: 400;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.kotak {
  background-color: rgba(9, 37, 99, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s, background-color 0.3s;
}

.kotak:hover {
  background-color: #3d5277;
  transform: translateY(-5px);
}

.kotak h2 {
  color: #4cb5ff;
  margin-bottom: 10px;
}

.kotak p {
  color: #e6edf3;
  margin-bottom: 8px;
}

.kotak2 {
  background-color: rgba(18, 49, 110, 0.9);
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.kotak2 h2 {
  color: #f9fcff;
  margin-bottom: 10px;
}

.kotak2t ul {
  list-style: none;
  color: #b9d1ff;
  line-height: 1.8;
  font-size: 15px;
}

footer {
  background-color: #161b22;
  text-align: center;
  padding: 20px;
  color: #8b949e;
  border-top: 2px solid #4cb5ff;
  margin-top: auto; 
}

/* ==== KEAHLIAN SAYA ==== */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.skill-box {
  background-color: #1b3d7a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  border: 2px solid #4cb5ff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.skill-box:hover {
  background-color: #3d5277;
  transform: translateY(-6px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}


footer a {
  color: #4cb5ff;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #9bd2ff;
  text-decoration: underline;
}
